
/* Import the base GitHub Pages theme */
@import "{{ site.theme }}";

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {

  /* Base background + text */
  body {
    background-color: #1e1e1e;
  }

  /* Links */
  a,
  a:link {
    color: #58a6ff;
  }

  a:visited {
    color: #8e96f0;
  }

  a:hover,
  a:focus {
    color: #91c9ff;
  }

  /* Headings */
  h1, h2, h3, h4, h5, h6 {
    color:  #ffffff;
  }

}
